<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fott.use_mybatis.dao.UserPartyDao">
    <insert id="participateParty" parameterType="com.fott.use_mybatis.dto.PartyDto$participateRequest">
        INSERT INTO USER_PARTY (user_id, party_id)
        VALUES (#{userId},  #{partyId})
    </insert>

    <select id="selectMyParty" parameterType="string"
    resultType="com.fott.use_mybatis.dto.OttDto$myPartyList">
        SELECT party_id
        FROM user_party
        WHERE user_id = #{userId}
    </select>

</mapper>